html{
    font-size: 30px;
}
body{
    padding: 0;
    margin: 0;
}
.main{
    background: linear-gradient(180deg, #eee4ec 10%, #9ec9ef);
  	width: 100%;
	margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.header{
    position: fixed;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: white;
  	width: 100%;
  	height: 50px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    z-index: 1000;
}

.page1{
    background: linear-gradient(180deg, FFFFFF, blue);
  	width: 80%;
	margin: 0 auto;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    z-index: 2;
}
.page2{
    width: 80%;
    height: auto;
	margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}
.start-learning-with {
    font-family: Bebas Neue;
  	font-size: 30px;
  	letter-spacing: 0.04em;
  	display: inline-block;
    margin-top: 30vh;
    margin-bottom: 5vh;
}
button{
    font-family: Bebas Neue;
  	font-size: 18px;
    color: white;
    transition: all 0.1s ease;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}
.get-started-button {
    width: auto;
    border-radius: 60px;
    border: 0;
    background-color: #1d75d4;
    height: 50px;
    margin: 0 auto;
    display: block;
    white-space: wrap;
    padding: 10px 20px;
}
.sign-up-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: auto;
    border-radius: 60px;
    border: 0;
    background-color: #1d75d4;
    height: 30px;
    z-index: 1000;
    padding: 0 20px;
}
.log-in-button{
    position: fixed;
    top: 10px;
    right: 100px;
    width: auto;
    border-radius: 60px;
    border: 0;
    background-color: #1d75d4;
    height: 30px;
    z-index: 1000;
    padding: 0 20px;
}
button:active {
    transform: scale(0.95);
    background-color: darkblue;
}
.logo{
    width: 40px;
    display: inline;
    margin: 10px;
}
.discover{
    font-family: Bebas Neue;
  	font-size: 30px;
  	letter-spacing: 0.04em;
  	display: inline-block;
    margin-top: 50vh;
    margin-bottom: 5vh;
}
footer{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 0.5rem;
  	font-weight: 300;
  	font-family: 'Alumni Sans';
    width: 100%;
    background-color: white;
}
.about{
	color: blue;
}
.temp-display{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 200px;
}